<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sei La</title>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <a class="navbar-brand" href="/admin/home">Menu Inicial</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	        <ul class="navbar-nav">
	            <li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    Usuário
	                </a>
	                <div class="dropdown-menu" aria-labelledby="userDropdown">
	                    <a class="dropdown-item" href="/admin/user/add">Cadastrar</a>
	                    <a class="dropdown-item" href="/admin/user/list">Listar</a>
	                </div>
	            </li>
	            <li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle" href="#" id="taskListDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    Tarefas por Usuário
	                </a>
	                <div class="dropdown-menu" aria-labelledby="taskListDropdown">
	                    <a class="dropdown-item" href="/admin/tasklist/add">Cadastrar</a>
	                    <a class="dropdown-item" href="/admin/tasklist/list">Listar</a>
	                </div>
	            </li>
	            <li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle" href="#" id="taskDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    Tarefa
	                </a>
	                <div class="dropdown-menu" aria-labelledby="taskDropdown">
	                    <a class="dropdown-item" href="/admin/task/add">Cadastrar</a>
	                    <a class="dropdown-item" href="/admin/task/list">Listar</a>
	                </div>
	            </li>
	            <li class="nav-item">
                	<a class="nav-link" href="/">Login</a>
            	</li>
	        </ul>
	    </div>
	</nav>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">App RH</a>
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active"
                                aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/funcionarios">Funcionários</a></li>
                        <li class="nav-item"><a class="nav-link"
                                href="/cadastrarFuncionario">Cadastrar Funcionário</a></li>
                        <li class="nav-item"><a class="nav-link" href="/vagas">
                                << Listar Vagas>> </a></li>
                        <li class="nav-item"><a class="nav-link"
                                href="/cadastrarVaga"> << Cadastrar Vaga>> </a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Sair
                        </a></li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="container">

        <h1 class="mt-4">Cadastro de Usuário</h1>

        <!-- Adicione aqui mensagens de validação -->

        <form action="/user/add" method="post" style="max-width: 50%; margin: 0 auto;">

            <div class="form-group">
                <label for="username"><b>Nome de Usuário:</b></label>
                <input type="text" class="form-control" value=""
                    placeholder="Insira o nome do usuário" name="username" required>
                <small class="form-text text-muted"><i>* Nome de usuário único.</i></small>
            </div>

            <div class="form-group">
                <label for="email"><b>Email:</b></label>
                <input type="email" class="form-control" value=""
                    placeholder="email@email.com" name="email" required>
            </div>

            <!-- Adicione mais campos conforme necessário -->

            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Adicionar Usuário</button>
            </div>

        </form>

    </div>

    <!-- Adicione seus scripts JS e outros elementos HTML conforme necessário -->

    <!-- Bootstrap JS (coloque-o no final do body para melhor desempenho) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
