<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    
    <!-- Adicione os links para os estilos Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.16.0/font/bootstrap-icons.css">

    <style>
        /* Adicione estilos personalizados aqui, se necessário */
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <a class="navbar-brand" href="/">Minha Aplicação</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	        <ul class="navbar-nav">
	            <li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    Usuário
	                </a>
	                <div class="dropdown-menu" aria-labelledby="userDropdown">
	                    <a class="dropdown-item" href="/user/add">Cadastrar</a>
	                    <a class="dropdown-item" href="/user/list">Listar</a>
	                </div>
	            </li>
	            <li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle" href="#" id="taskListDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    Tarefas por Usuário
	                </a>
	                <div class="dropdown-menu" aria-labelledby="taskListDropdown">
	                    <a class="dropdown-item" href="/tasklist/add">Cadastrar</a>
	                    <a class="dropdown-item" href="/tasklist/list">Listar</a>
	                </div>
	            </li>
	            <li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle" href="#" id="taskDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    Tarefa
	                </a>
	                <div class="dropdown-menu" aria-labelledby="taskDropdown">
	                    <a class="dropdown-item" href="/task/add">Cadastrar</a>
	                    <a class="dropdown-item" href="/task/list">Listar</a>
	                </div>
	            </li>
	        </ul>
	    </div>
	</nav>

    <div class="container">
        <h2 class="text-center mt-4 mb-4">Lista de Usuários</h2>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome de Usuário</th>
                        <th>Email</th>
                        <th>Senha</th>
                        <th>Listas de Tarefas</th>
                        <!-- Adicione mais cabeçalhos conforme necessário -->
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.senha}"></td>
					    <td>
					        <span th:each="taskList2 : ${taskList}">
					            <span th:text="${taskList2.name}"></span>
					            <span th:if="${not #lists.isEmpty(taskList)}">, </span>
					        </span>
					    </td>
                        <!-- Adicione mais colunas conforme necessário -->
                        <td>
                            <a class="btn btn-info btn-sm" th:href="@{/user/{id}(id=${user.id})}">
                                <i class="bi bi-info-circle"></i> Detalhes
                            </a>
                            <a class="btn btn-warning btn-sm" th:href="@{/user/update/{id}(id=${user.id})}">
                                <i class="bi bi-pencil"></i> Editar
                            </a>
                            <a class="btn btn-danger btn-sm" th:href="@{/user/delete/{id}(id=${user.id})}">
                                <i class="bi bi-trash"></i> Excluir
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Adicione aqui scripts JS ou outras dependências que você precisa -->
    <!-- Adicione os scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
